@import url("styles/nav.css");
@import url("styles/header.css");
@import url("styles/noticias.css");
@import url("styles/novidades.css");
@import url("styles/quemsomos.css");
@import url("styles/logistica.css");
@import url("styles/diferenciais.css");
@import url("styles/clientes.css");
@import url("styles/chamada.css");
@import url("styles/footer.css");


* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}