.chamada-section {
    background-color: #fff;
}

.chamada-conteiner {
    background-color: #FF0000;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    padding: 40px 20px;
    border-radius: 8px;
}

.chamada-conteiner h2 {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.chamada-conteiner p {
    color: #F9F7F7;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.chamada-conteiner button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.chamada-conteiner button:hover {
    transform: scale(1.1);
}


@media (max-width: 900px) {
    .chamada-conteiner h2 {
        font-size: 2rem;
    }

    .chamada-conteiner p {
        font-size: 0.8rem;
    }

    .chamada-conteiner button {
        padding: 12px 25px;
        font-size: 0.9rem;
    }

    .chamada-conteiner button {
        font-size: 0.9rem;
    }
}