footer {
    background-image: url("../assets/footer-bg.png");
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.logo-footer img {
    border-radius: 8px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    list-style: none;
    margin-bottom: 1rem;
}

.footer-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    padding-bottom: 0.5rem;
}

.footer-list li a {
   display: flex;
   gap: 10px;
   
}

.footer-list li span {
    height: min-content;
}


@media(max-width: 1050px) {
.footer-list {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-list li {
    font-size: 1rem;
     width: 80%;
}


}