.section-noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.section-noticias h3 {
    font-size: 4rem;
    color: #ff0000;
}

.section-noticias p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cards-noticias {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.cards-projetos {
    gap: 1.5rem;
}

.card-noticia {
    max-height: min-content;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-noticia:hover {
    transform: scale(1.05);
}


@media(max-width: 768px) {
    .cards-projetos {
    gap: 0.5rem;
}
}