.section-noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.section-noticias h3 {
    font-size: 4rem;
    color: #ff0000;
}

.section-noticias p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cards-noticias {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.cards-projetos {
    gap: 1.5rem;
}

.card-noticia {
    max-height: min-content;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-noticia:hover {
    transform: scale(1.05);
}


.card-novidade {
    background-color: var(--cor-fundo-card);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; 
    box-shadow: 4px 4px 8px rgba(255, 0, 0, 0.49);
    margin: 2rem auto;
}

.card-novidade h4 {
    font-size: 2.5rem;
}

.card-novidade p {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    color: #555;
}



@media(max-width: 768px) {
    .cards-projetos {
    gap: 0.5rem;
}
    .card-novidade h4 {
        font-size: 1.5rem;
    }
    .card-novidade p {
        font-size: 0.75rem;
    }
}